.result-scroll{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content{
    width: 50vw;
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.media{
    width: 50vw;
    padding: 6px;
}
.spotImage{
    width: 45vw;
    height: 42vh;
    box-shadow: 8px 4px 4px 0px rgb(208, 133, 133);
}
.result-card{
    display: flex;
    flex-direction: column;
    
}

.imagecard{
    width: 24vw;
    height: 27vh;
    margin-right: 6px;
}
.result-scroll-down{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    overflow-y: auto;
}

/* .imagecard:hover{
    width: 21vw;
    height: 26vh;
    opacity: 0.75;
} */
.popupcontainer{
    position: fixed;
    /* transform: translate(-10%, -10%); */
    top: 18%;
    left: 20vw;
    margin-bottom: 20vh;
    width: 55vw;
    height: 65vh;
    background-color: whitesmoke;
    padding: 10px;
   border: 8px solid lightgrey;
    
}
.popupCard{
    display: flex;
    flex-direction: row;
}
.textContent{
    width: 20vw;
    padding: 10px;
}
.imgContent,.spotImagePop {
    width: 27vw;
    height:65vh;
}
.popupbtn{
    margin-left: 24vw;
    margin-top: 8px;
    width: 70px;
    background-color: rgb(184, 216, 241);
    height: 28px;
    border: 2px solid grey;
    border-radius: 8px;
}
hr{
    width: 2px;
    background-color: black;
}
.bottomPopup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .popupCard{
    /* position: absolute;
    margin-top: 20px;
    margin-left: 20%;
    border: 1px solid black; */
    
    /* background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray,
                -10px -10px 20px gray;
    border: 4px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    padding-top: 40px;
    margin-top: 30vh;
    margin-left: 45vw;
    color: #2DA5FC;
    text-decoration: underline;
    background: #FFFFFF;
border-radius: 10px; */
/* }  */

/* .popupcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    margin-top: 20vh;
    margin-bottom: 40%;
    margin-left: 30vw;
} */


/* .popupcontainer {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* margin-right: 30vw; */
    /* margin-left: 30vw; */
    /* position: fixed;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 30vw; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    
/* } */ 